In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

서울시 휴게 음식점 중 일반음식점과 휴게음식점 추출`

In [78]:
seoul = '/content/drive/MyDrive/baf_society/seoul_filtered_1010.csv'
seoul_filtered_1010 = pd.read_csv(seoul, encoding='utf-8')

<ipython-input-78-024c81890dde>:2: DtypeWarning: Columns (10,12,15,19,28,30,35,49,50) have mixed types. Specify dtype option on import or set low_memory=False.
  seoul_filtered_1010 = pd.read_csv(seoul, encoding='utf-8')

In [84]:
seoul_filtered = seoul_filtered_1010

변수 확인 및 제거
- 758626행 확인

In [85]:
seoul_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 758626 entries, 0 to 758625
Data columns (total 53 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   시군구코드          758626 non-null  int64
 1   업종코드           758626 non-null  int64
 2   년도             758626 non-null  int64
 3   업소일련번호         758626 non-null  int64
 4   업종명            758626 non-null  object
 5   허가신고일          758626 non-null  int64
 6   업소명            758623 non-null  object
 7   소재지도로명         758626 non-null  object
 8   소재지지번          757868 non-null  object
 9   영업장면적(㎡)       334600 non-null  float64
 10  영업자시작일         757573 non-null  object
 11  법인명            71225 non-null   object
 12  법인번호           69443 non-null   object
 13  소재지시작일         756849 non-null  float64
 14  행정동명           756667 non-null  object
 15  폐업일자           443013 non-null  object
 16  폐업구분           441365 non-null  object
 17  폐업사유           292122 non-null  object
 18  업태명            756472 non-null  object
 19  지상_부터          414097 non-null  object
 20  지상_까지          396966 non-null  float64
 21  지하_부터          239191 non-null  float64
 22  지하_까지          230488 non-null  float64
 23  총층수            250721 non-null  float64
 24  교육수료일자         140014 non-null  float64
 25  모범음식점여부        756484 non-null  object
 26  급수시설           428694 non-null  object
 27  업소위치           534445 non-null  object
 28  종업원남           351245 non-null  object
 29  종업원여           351980 non-null  float64
 30  급식소종류          3 non-null       object
 31  평균급식인원수        226 non-null     float64
 32  최대급식인원수        226 non-null     float64
 33  1일급식인원수        226 non-null     float64
 34  일인당평균급식비       226 non-null     float64
 35  운영형태           1 non-null       object
 36  영업장조리장면적(㎡)    555857 non-null  float64
 37  영업장객실면적(㎡)     361319 non-null  float64
 38  영업장무도장면적(㎡)    342321 non-null  float64
 39  영업장기타면적(㎡)     500712 non-null  float64
 40  업소내화장실면적(㎡)    374493 non-null  float64
 41  타업소공동화장실면적(㎡)  393382 non-null  float64
 42  영업장탈의실면적(㎡)    346291 non-null  float64
 43  영업장객석면적(㎡)     546192 non-null  float64
 44  작업장면적(㎡)       201114 non-null  float64
 45  검사실면적(㎡)       200391 non-null  float64
 46  진열(판매)대면적(㎡)   0 non-null       float64
 47  창고(보관소)면적(㎡)   0 non-null       float64
 48  허가(신고)번호       756484 non-null  object
 49  조건부허가시작일       12773 non-null   object
 50  조건부허가종료일       10608 non-null   object
 51  내외국인구분         756502 non-null  object
 52  국적             472523 non-null  object
dtypes: float64(24), int64(5), object(24)
memory usage: 306.8+ MB

In [86]:
seoul_filtered['업태명'].unique()

array(['중국식', '외국음식전문점(인도,태국등)', '기타', '한식', '경양식', '호프/통닭', '감성주점', '분식',
       '일식', '식육(숯불구이)', '김밥(도시락)', '정종/대포집/소주방', '뷔페식', '일반조리판매',
       '기타 휴게음식점', '아이스크림', '커피숍', '푸드트럭', '다방', '전통찻집', '편의점', '패스트푸드',
       '탕류(보신용)', '라이브카페', '키즈카페', '백화점', '떡카페', '회집', '철도역구내', '극장',
       '유원지', '출장조리', '패밀리레스트랑', '냉면집', '복어취급', '고속도로', nan, '관광호텔', '공항',
       '통닭(치킨)', '까페', '도매업(유통)', '룸살롱', '식품소분업', '과자점', '이동조리', '제과점영업',
       '식품제조가공업', '식품등 수입판매업', '단란주점', '간이주점', '서울특별시 도봉구로 전출처리됨',
       '사업자등록 폐업에 따른 영업신고사항 직권말소', '서울특별시 양천구로 전출처리됨', '서울특별시 성북구로 전출처리됨',
       '서울특별시 영등포구로 전출처리됨', '서울특별시 광진구로 전출처리됨', '무단폐업에 따른 직권말소',
       '경기도 구리시로 전출처리됨', '착오신고로인한 폐업후 재처리', '서울특별시 강서구로 전출처리됨'],
      dtype=object)

## 카페 필터링
- 업태명이 커피숍, 다방, 까페이거나 기타 분류에 있는 것 중 업소명이 카페인 행 추출
- 78722개

In [111]:
cafe_list = ['컴포즈커피', '스타벅스', '투썸플레이스', '이디야', '할리스', '탐앤탐스', '매머드',
             '메가.*커피|메가엠지씨|MGC커피', '빽다방', '더벤티', '커피빈', '디저트39', '셀렉토커피', '커피베이', '바나프레소',
             '파스쿠찌', '블루보틀', '카페베네', '폴바셋', '커피에반하다', '엔제리너스', '테라로사', '감성커피', '하삼동커피','카페','커피']

# cafe_list를 정규 표현식으로 변환합니다.
regex_pattern = '|'.join(cafe_list)  # 모든 카페 이름을 |로 연결합니다.

# 필터링 조건 설정 및 적용
seoul_filtered_cafe = seoul_filtered[
    (seoul_filtered['업태명'].isin(['커피숍', '다방', '까페'])) |
    ((seoul_filtered['업태명'].isin(['기타', '기타 휴게음식점'])) & (seoul_filtered['업소명'].str.contains(regex_pattern, regex=True, case=False)))
]

In [112]:
#78674
seoul_filtered_cafe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78722 entries, 12 to 758625
Data columns (total 53 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   시군구코드          78722 non-null  int64
 1   업종코드           78722 non-null  int64
 2   년도             78722 non-null  int64
 3   업소일련번호         78722 non-null  int64
 4   업종명            78722 non-null  object
 5   허가신고일          78722 non-null  int64
 6   업소명            78722 non-null  object
 7   소재지도로명         78722 non-null  object
 8   소재지지번          78592 non-null  object
 9   영업장면적(㎡)       26201 non-null  float64
 10  영업자시작일         78722 non-null  object
 11  법인명            12842 non-null  object
 12  법인번호           12843 non-null  object
 13  소재지시작일         78722 non-null  float64
 14  행정동명           78509 non-null  object
 15  폐업일자           40489 non-null  object
 16  폐업구분           40524 non-null  object
 17  폐업사유           24399 non-null  object
 18  업태명            78722 non-null  object
 19  지상_부터          41172 non-null  object
 20  지상_까지          39508 non-null  float64
 21  지하_부터          13263 non-null  float64
 22  지하_까지          12682 non-null  float64
 23  총층수            16401 non-null  float64
 24  교육수료일자         7996 non-null   float64
 25  모범음식점여부        78722 non-null  object
 26  급수시설           31378 non-null  object
 27  업소위치           60711 non-null  object
 28  종업원남           20181 non-null  object
 29  종업원여           20452 non-null  float64
 30  급식소종류          0 non-null      object
 31  평균급식인원수        23 non-null     float64
 32  최대급식인원수        23 non-null     float64
 33  1일급식인원수        23 non-null     float64
 34  일인당평균급식비       23 non-null     float64
 35  운영형태           0 non-null      object
 36  영업장조리장면적(㎡)    48910 non-null  float64
 37  영업장객실면적(㎡)     28320 non-null  float64
 38  영업장무도장면적(㎡)    27016 non-null  float64
 39  영업장기타면적(㎡)     52496 non-null  float64
 40  업소내화장실면적(㎡)    29696 non-null  float64
 41  타업소공동화장실면적(㎡)  29689 non-null  float64
 42  영업장탈의실면적(㎡)    27538 non-null  float64
 43  영업장객석면적(㎡)     47156 non-null  float64
 44  작업장면적(㎡)       11563 non-null  float64
 45  검사실면적(㎡)       11563 non-null  float64
 46  진열(판매)대면적(㎡)   0 non-null      float64
 47  창고(보관소)면적(㎡)   0 non-null      float64
 48  허가(신고)번호       78722 non-null  object
 49  조건부허가시작일       829 non-null    object
 50  조건부허가종료일       827 non-null    object
 51  내외국인구분         78722 non-null  object
 52  국적             60568 non-null  object
dtypes: float64(24), int64(5), object(24)
memory usage: 32.4+ MB

In [113]:
seoul_filtered_cafe.head()

,시군구코드,업종코드,년도,업소일련번호,업종명,허가신고일,업소명,소재지도로명,소재지지번,영업장면적(㎡),...,영업장객석면적(㎡),작업장면적(㎡),검사실면적(㎡),진열(판매)대면적(㎡),창고(보관소)면적(㎡),허가(신고)번호,조건부허가시작일,조건부허가종료일,내외국인구분,국적
12,3000000,101,2019,104,일반음식점,20190321,커피사피엔스 경복궁역점,"서울특별시 종로구 사직로 130, 적선현대빌딩 지하1층 제66호 (적선동)",서울특별시 종로구 적선동 80번지 적선현대빌딩,NaN,...,6.00,NaN,NaN,NaN,NaN,3000000-101-2019-****4,NaN,NaN,내국인,대한민국
14,3000000,101,2019,104,일반음식점,20190321,커피사피엔스 경복궁역점,"서울특별시 종로구 사직로 130, 적선현대빌딩 지하1층 제66호 (적선동)",서울특별시 종로구 적선동 80번지 적선현대빌딩,NaN,...,6.00,NaN,NaN,NaN,NaN,3000000-101-2019-****4,NaN,NaN,내국인,대한민국
32,3000000,101,2019,337,일반음식점,20190918,그레이커피(Grey coffee),"서울특별시 종로구 사직로8길 34, 경희궁의아침 3단지 110호 (내수동)",서울특별시 종로구 내수동 72번지 경희궁의아침 3단지,NaN,...,8.38,NaN,NaN,NaN,NaN,3000000-101-2019-****7,NaN,NaN,내국인,대한민국
36,3000000,101,2019,72,일반음식점,20190308,루프트커피 광화문,"서울특별시 종로구 종로 33, 그랑서울 1층 112호,119호,120호호 (청진동)",서울특별시 종로구 청진동 70번지 그랑서울,NaN,...,80.02,NaN,NaN,NaN,NaN,3000000-101-2019-****2,NaN,NaN,내국인,대한민국
46,3000000,101,2019,311,일반음식점,20190822,일리카페(Illy Caffe),"서울특별시 종로구 율곡로 180, 1층 (원남동)",서울특별시 종로구 원남동 49번지 17호,NaN,...,NaN,NaN,NaN,NaN,NaN,3000000-101-2019-****1,NaN,NaN,내국인,대한민국

In [114]:
# file_path = '/content/drive/MyDrive/baf_society/seoul_filtered_cafe_before_eda.csv'
# seoul_filtered_cafe.to_csv(file_path, index=False)

### 카페 데이터 전처리
- 영업자시작일이 결측치나 오류이면 소재지시작일로 대체 -> 없음
- 층수는 업소 위치에서 복층 여부 확인, 결측치는 주소에서 추출

In [115]:
df = seoul_filtered_cafe ## eda는 df에서 진행

In [116]:
df['영업자시작일']

12        20190321
14        20190705
32        20190918
36        20190308
46        20190822
            ...
758582    20240102
758605    20240102
758613    20240102
758621    20240102
758625    20230104
Name: 영업자시작일, Length: 78722, dtype: object

In [117]:
# '영업자시작일' 열의 날짜 형식유효한지 확인, 아닌것들 결측치 대체
df['영업자시작일_parsed'] = pd.to_datetime(df['영업자시작일'], errors='coerce', format='%Y%m%d')
invalid_dates = df[df['영업자시작일_parsed'].isna()]['영업자시작일']

# 날짜 형식이 아닌것 출력
print("날짜 형식이 아닌 값들:")
print(invalid_dates)

날짜 형식이 아닌 값들:
Series([], Name: 영업자시작일, dtype: object)

<ipython-input-117-90fa87198f3f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['영업자시작일_parsed'] = pd.to_datetime(df['영업자시작일'], errors='coerce', format='%Y%m%d')

In [118]:
# 영업시작일의 결측값을 허가신고일로 대체 -> 결측치 확인되면
# df['영업자시작일'] = df['영업자시작일'].fillna(df['허가신고일'])
# franchises_cafe.info()

In [119]:
df = df[['업소명','행정동명','소재지도로명','소재지지번','영업자시작일','소재지시작일','폐업일자','영업장면적(㎡)','업소위치','영업장조리장면적(㎡)','영업장객실면적(㎡)','영업장무도장면적(㎡)','영업장기타면적(㎡)','업소내화장실면적(㎡)','타업소공동화장실면적(㎡)','영업장탈의실면적(㎡)','영업장객석면적(㎡)','작업장면적(㎡)','검사실면적(㎡)']]

In [120]:
## 결측치를 0으로 채운뒤 면적 변수끼리의 합을 이용해 총 면적 계산
df['총면적'] = (
    df['영업장면적(㎡)'].fillna(0) +
    df['영업장조리장면적(㎡)'].fillna(0) +
    df['영업장객실면적(㎡)'].fillna(0) +
    df['영업장무도장면적(㎡)'].fillna(0) +
    df['영업장기타면적(㎡)'].fillna(0) +
    df['업소내화장실면적(㎡)'].fillna(0) +
    df['타업소공동화장실면적(㎡)'].fillna(0) +
    df['영업장탈의실면적(㎡)'].fillna(0) +
    df['영업장객석면적(㎡)'].fillna(0) +
    df['작업장면적(㎡)'].fillna(0) +
    df['검사실면적(㎡)'].fillna(0)
)

<ipython-input-120-e93bf4794f23>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['총면적'] = (

In [121]:
df = df.drop(columns=[
    '영업장조리장면적(㎡)', '영업장객실면적(㎡)', '영업장무도장면적(㎡)', '영업장기타면적(㎡)',
    '업소내화장실면적(㎡)', '타업소공동화장실면적(㎡)', '영업장탈의실면적(㎡)', '영업장객석면적(㎡)','영업장면적(㎡)',
    '작업장면적(㎡)', '검사실면적(㎡)'
])
df

,업소명,행정동명,소재지도로명,소재지지번,영업자시작일,소재지시작일,폐업일자,업소위치,총면적
12,커피사피엔스 경복궁역점,사직동,"서울특별시 종로구 사직로 130, 적선현대빌딩 지하1층 제66호 (적선동)",서울특별시 종로구 적선동 80번지 적선현대빌딩,20190321,20190321.0,NaN,지하,26.03
14,커피사피엔스 경복궁역점,사직동,"서울특별시 종로구 사직로 130, 적선현대빌딩 지하1층 제66호 (적선동)",서울특별시 종로구 적선동 80번지 적선현대빌딩,20190705,20190321.0,NaN,지하,26.03
32,그레이커피(Grey coffee),사직동,"서울특별시 종로구 사직로8길 34, 경희궁의아침 3단지 110호 (내수동)",서울특별시 종로구 내수동 72번지 경희궁의아침 3단지,20190918,20190918.0,NaN,지상,16.38
36,루프트커피 광화문,종로1.2.3.4가동,"서울특별시 종로구 종로 33, 그랑서울 1층 112호,119호,120호호 (청진동)",서울특별시 종로구 청진동 70번지 그랑서울,20190308,20190308.0,NaN,지상,120.02
46,일리카페(Illy Caffe),종로1.2.3.4가동,"서울특별시 종로구 율곡로 180, 1층 (원남동)",서울특별시 종로구 원남동 49번지 17호,20190822,20190822.0,NaN,지상,3.83
...,...,...,...,...,...,...,...,...,...
758582,티히커피,월곡제2동,"서울특별시 성북구 오패산로 31, 1층 (하월곡동)",서울특별시 성북구 하월곡동 70번지 150호,20240102,20240102.0,NaN,지상,40.00
758605,백금당(샤로수길점),낙성대동,"서울특별시 관악구 남부순환로234길 23, 2층 (봉천동)",서울특별시 관악구 봉천동 1620번지 18호,20240102,20240102.0,NaN,NaN,85.00
758613,블루웨이브커피 송파문정역점,문정2동,"서울특별시 송파구 송파대로 167, 문정역테라타워 비동 1층 153호 (문정동)",서울특별시 송파구 문정동 651번지 문정역테라타워,20240102,20240102.0,NaN,지상,56.58
758621,커피인류 가락쌍용점,가락2동,"서울특별시 송파구 동남로 189, 가락쌍용아파트 26동 1층 133, 134호 (가락동)",서울특별시 송파구 가락동 140번지 가락쌍용아파트,20240102,20240102.0,NaN,지상,12.12
758625,샌드위치날에&트리킹즈커피 창동점,창제5동,"서울특별시 도봉구 해등로 139, 1층 105호 (창동, 미소애아파트)",서울특별시 도봉구 창동 715번지 3호 미소애아파트 1층-105,20230104,20230104.0,20240729.0,지상,44.18

In [122]:
# file_path = '/content/drive/MyDrive/baf_society/seoul_filtered_cafe_거짓메가 전.csv'
# df.to_csv(file_path, index=False)

### 거짓메가 지우기
- '오메가피씨방', '오메가라이더카페' 등 제거
- 78722개 -> 78678개

In [123]:
df['업소명'].unique()

array(['커피사피엔스 경복궁역점', '그레이커피(Grey coffee)', '루프트커피 광화문', ...,
       '백금당(샤로수길점)', '블루웨이브커피 송파문정역점', '커피인류 가락쌍용점'], dtype=object)

In [124]:
df['카페명'] = df['업소명']

In [125]:
df.loc[df['업소명'].str.contains(r'메가.*커피|메가엠지씨', regex=True), '카페명'] = '메가커피'
# df[df['카페명'] == '메가커피'].head()

In [126]:
# '업소명'에 '메가'가 포함되어 있는데 '카페명'이 '메가커피'가 아닌 행을 삭제
df = df[~((df['업소명'].str.contains('메가')) & (df['카페명'] != '메가커피'))]

In [127]:
df.info() # 제거 여부 확인

<class 'pandas.core.frame.DataFrame'>
Index: 78678 entries, 12 to 758625
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   업소명     78678 non-null  object
 1   행정동명    78465 non-null  object
 2   소재지도로명  78678 non-null  object
 3   소재지지번   78548 non-null  object
 4   영업자시작일  78678 non-null  object
 5   소재지시작일  78678 non-null  float64
 6   폐업일자    40478 non-null  object
 7   업소위치    60668 non-null  object
 8   총면적     78678 non-null  float64
 9   카페명     78678 non-null  object
dtypes: float64(2), object(8)
memory usage: 6.6+ MB

### 대표 프렌차이즈 카페 개수 확인
- 일부 프렌차이즈 개수만 확인
- 리스트 :
'메가커피', '컴포즈커피', '스타벅스', '파스쿠찌', '투썸플레이스', '이디야커피', '엔제리너스', '할리스',
       '커피빈', '탐앤탐스', '매머드', '셀렉토커피', '커피베이', '블루보틀', '커피에반하다', '빽다방',
       '바나프레소', '더벤티', '디저트39', '감성커피', '폴바셋', '카페베네', '테라로사', '하삼동커피'

In [74]:
# 대표 프렌차이즈 카페 개수 확인
# df.loc[df['업소명'].str.contains('컴포즈'), '카페명'].'컴포즈커피'

# cafe_brands = {
#     '컴포즈커피': '컴포즈',
#     '빽다방': '빽다방',
#     '더벤티': '더벤티',
#     '매머드': '매머드|메머드',
#     '스타벅스': '스타벅스',
#     '투썸플레이스': '투썸',
#     '할리스': '할리스',
#     '이디야커피': '이디야',
#     '커피빈': '커피빈|더커피빈',
#     '탐앤탐스': '탐앤탐스',
#     '디저트39': '디저트39|디저트 39',
#     '셀렉토커피': '셀렉토',
#     '커피베이': '커피베이',
#     '바나프레소': '바나프레소',
#     '파스쿠찌': '파스쿠찌',
#     '블루보틀': '블루보틀',
#     '카페베네': '카페베네',
#     '폴바셋': '폴바셋',
#     '커피에반하다': '커피에반하다',
#     '엔제리너스': '엔제리너스',
#     '테라로사': '테라로사',
#     '감성커피': '감성커피',
#     '하삼동커피': '하삼동커피'
# }

# for brand, pattern in cafe_brands.items():
#     df.loc[df['업소명'].str.contains(pattern, case=False, regex=True), '카페명'] = brand

# # 결과 출력
# print(df)

In [128]:
# 대표 프렌차이즈 개수 확인
df.loc[df['업소명'].str.contains('컴포즈'), '카페명'] = '컴포즈커피'
df.loc[df['업소명'].str.contains('빽다방'), '카페명'] = '빽다방'
df.loc[df['업소명'].str.contains('더벤티'), '카페명'] = '더벤티'
df.loc[df['업소명'].str.contains('매머드|메머드'), '카페명'] = '매머드'
df.loc[df['업소명'].str.contains('스타벅스'), '카페명'] = '스타벅스'
df.loc[df['업소명'].str.contains('투썸'), '카페명'] = '투썸플레이스'
df.loc[df['업소명'].str.contains('할리스'), '카페명'] = '할리스'
df.loc[df['업소명'].str.contains('이디야'), '카페명'] = '이디야커피'
df.loc[df['업소명'].str.contains('커피빈|더커피빈'), '카페명'] = '커피빈'
df.loc[df['업소명'].str.contains('탐앤탐스'), '카페명'] = '탐앤탐스'
df.loc[df['업소명'].str.contains('디저트39|디저트 39'), '카페명'] = '디저트39'
df.loc[df['업소명'].str.contains('셀렉토'), '카페명'] = '셀렉토커피'
df.loc[df['업소명'].str.contains('커피베이'), '카페명'] = '커피베이'
df.loc[df['업소명'].str.contains('바나프레소'), '카페명'] = '바나프레소'
df.loc[df['업소명'].str.contains('파스쿠찌'), '카페명'] = '파스쿠찌'
df.loc[df['업소명'].str.contains('블루보틀'), '카페명'] = '블루보틀'
df.loc[df['업소명'].str.contains('카페베네'), '카페명'] = '카페베네'
df.loc[df['업소명'].str.contains('폴바셋'), '카페명'] = '폴바셋'
df.loc[df['업소명'].str.contains('커피에반하다'),'카페명'] = '커피에반하다'
df.loc[df['업소명'].str.contains('엔제리너스'),'카페명'] = '엔제리너스'
df.loc[df['업소명'].str.contains('테라로사'),'카페명'] = '테라로사'
df.loc[df['업소명'].str.contains('감성커피'),'카페명'] = '감성커피'
df.loc[df['업소명'].str.contains('하삼동커피'),'카페명'] = '하삼동커피'

In [129]:
cafe_list = ['컴포즈커피', '스타벅스', '투썸플레이스', '이디야커피', '할리스', '탐앤탐스', '매머드',
             '메가커피', '빽다방', '더벤티', '커피빈', '디저트39', '셀렉토커피', '커피베이', '바나프레소','파스쿠찌',
             '블루보틀','카페베네','폴바셋','커피에반하다','엔제리너스','테라로사','감성커피','하삼동커피']

In [130]:
## 지정된 카페만 추출
df_franchises = df[df['카페명'].isin(cafe_list)]
df_franchises['카페명'].unique()

array(['메가커피', '컴포즈커피', '스타벅스', '파스쿠찌', '투썸플레이스', '이디야커피', '엔제리너스', '할리스',
       '커피빈', '탐앤탐스', '매머드', '셀렉토커피', '커피베이', '블루보틀', '커피에반하다', '빽다방',
       '바나프레소', '더벤티', '디저트39', '감성커피', '폴바셋', '카페베네', '테라로사', '하삼동커피'],
      dtype=object)

In [131]:
## 7912개 확인
df_franchises.info()
# franchises_cafe_filtered.head(30)

<class 'pandas.core.frame.DataFrame'>
Index: 7912 entries, 97 to 758537
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   업소명     7912 non-null   object
 1   행정동명    7901 non-null   object
 2   소재지도로명  7912 non-null   object
 3   소재지지번   7901 non-null   object
 4   영업자시작일  7912 non-null   object
 5   소재지시작일  7912 non-null   float64
 6   폐업일자    1545 non-null   object
 7   업소위치    7151 non-null   object
 8   총면적     7912 non-null   float64
 9   카페명     7912 non-null   object
dtypes: float64(2), object(8)
memory usage: 679.9+ KB

In [134]:
df_franchises['카페명'].value_counts()

카페명
스타벅스      1271
이디야커피     1077
투썸플레이스     703
메가커피       668
커피빈        435
매머드        430
컴포즈커피      418
할리스        395
빽다방        369
엔제리너스      307
커피베이       304
탐앤탐스       295
파스쿠찌       248
카페베네       235
더벤티        177
셀렉토커피      121
디저트39      113
바나프레소      104
커피에반하다      86
감성커피        61
폴바셋         56
테라로사        15
블루보틀        13
하삼동커피       11
Name: count, dtype: int64

In [136]:
# file_path = '/content/drive/MyDrive/baf_society/seoul_filtered_cafe_거짓메가 후.csv'
# df.to_csv(file_path, index=False)