In [2]:
import pandas as pd
import numpy as np
import os
import warnings
warnings.filterwarnings('ignore')

In [3]:
os.getcwd()

'c:\\Users\\swc08\\Desktop\\대학\\비어플\\프로젝트1'

In [4]:
fcf = pd.read_csv('franchises_cafe_filtered_0928.csv')

In [5]:
fcf.head(5)

,업소명,행정동명,소재지도로명,소재지지번,영업자시작일,폐업일자,업소위치,총면적,카페명
0,컴포즈 커피,가회동,"서울특별시 종로구 율곡로 75, 현대빌딩 지하1층 (계동)",서울특별시 종로구 계동 140번지 2호 현대빌딩,20191118,NaN,지상,16.44,컴포즈커피
1,스타벅스 연합뉴스점,종로1.2.3.4가동,"서울특별시 종로구 율곡로2길 25, 연합뉴스빌딩 1층 (수송동)",서울특별시 종로구 수송동 110번지 연합뉴스빌딩,20190214,NaN,지상,53.35,스타벅스
2,스타벅스 연합뉴스점,종로1.2.3.4가동,"서울특별시 종로구 율곡로2길 25, 연합뉴스빌딩 1층 (수송동)",서울특별시 종로구 수송동 110번지 연합뉴스빌딩,20190520,NaN,지상,53.35,스타벅스
3,투썸플레이스 경복궁점,종로1.2.3.4가동,"서울특별시 종로구 율곡로 6, 트윈 트리 빌딩 A동 1층 102호 (중학동)",서울특별시 종로구 중학동 14번지 트윈 트리 빌딩-102,20190129,20200821.0,지상,208.37,투썸플레이스
4,이디야,혜화동,"서울특별시 종로구 성균관로 8, 1층 (명륜2가)",서울특별시 종로구 명륜2가 209번지 2호,20190902,NaN,지상,84.18,이디야커피

In [6]:
fcf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6320 entries, 0 to 6319
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   업소명     6320 non-null   object
 1   행정동명    6312 non-null   object
 2   소재지도로명  6320 non-null   object
 3   소재지지번   6312 non-null   object
 4   영업자시작일  6320 non-null   object
 5   폐업일자    1038 non-null   object
 6   업소위치    5676 non-null   object
 7   총면적     6320 non-null   float64
 8   카페명     6320 non-null   object
dtypes: float64(1), object(8)
memory usage: 444.5+ KB

## 층수 추가

In [7]:
import re

# 여러 층 포함 -> 복층 / 한 층만 -> 단층
def is_multifloor(row):
  
# 열 합치고
    address = str(row['소재지도로명']) + ' ' + str(row['소재지지번'])
    
    # 단층 패턴 
    single_floor_patterns = [r'\d+층(?!,)', r'지하\d+층(?!,)', r'B\d+층(?!,)'] 
    
    multi_floor_patterns = [
        r'\d+층~\d+층',        #'1~2층'
        r'지하\d+층~\d+층',    #'지하1층~1층'
        r'B\d+층~\d+층',       #'B1층~1층'
        r'\d+층, \d+층',       #'1층, 2층'
        r'\d+층, 지하\d+층',   #'1층, 지하1층'
        r'지하\d+층, \d+층',   #'지하1층, 1층'
        r'\d+,\d+층',          #'1,2층'
        r'\d+~\d+층',
        r'지하\d+층,\d+층'           #'1~2층'
    ]
    
    # 복층 패턴이 있는지 확인
    if any(re.search(pattern, address) for pattern in multi_floor_patterns):
        return 1  # 복층
    # 단층 패턴이 있는지 확인
    elif any(re.search(pattern, address) for pattern in single_floor_patterns):
        return 0  # 단층
    else:
        return 0 

# 파생변수 만드러
fcf['복층여부'] = fcf.apply(is_multifloor, axis=1)


fcf[['업소명', '소재지도로명', '소재지지번', '복층여부']].head()

,업소명,소재지도로명,소재지지번,복층여부
0,컴포즈 커피,"서울특별시 종로구 율곡로 75, 현대빌딩 지하1층 (계동)",서울특별시 종로구 계동 140번지 2호 현대빌딩,0
1,스타벅스 연합뉴스점,"서울특별시 종로구 율곡로2길 25, 연합뉴스빌딩 1층 (수송동)",서울특별시 종로구 수송동 110번지 연합뉴스빌딩,0
2,스타벅스 연합뉴스점,"서울특별시 종로구 율곡로2길 25, 연합뉴스빌딩 1층 (수송동)",서울특별시 종로구 수송동 110번지 연합뉴스빌딩,0
3,투썸플레이스 경복궁점,"서울특별시 종로구 율곡로 6, 트윈 트리 빌딩 A동 1층 102호 (중학동)",서울특별시 종로구 중학동 14번지 트윈 트리 빌딩-102,0
4,이디야,"서울특별시 종로구 성균관로 8, 1층 (명륜2가)",서울특별시 종로구 명륜2가 209번지 2호,0

In [8]:
fcf

,업소명,행정동명,소재지도로명,소재지지번,영업자시작일,폐업일자,업소위치,총면적,카페명,복층여부
0,컴포즈 커피,가회동,"서울특별시 종로구 율곡로 75, 현대빌딩 지하1층 (계동)",서울특별시 종로구 계동 140번지 2호 현대빌딩,20191118,NaN,지상,16.44,컴포즈커피,0
1,스타벅스 연합뉴스점,종로1.2.3.4가동,"서울특별시 종로구 율곡로2길 25, 연합뉴스빌딩 1층 (수송동)",서울특별시 종로구 수송동 110번지 연합뉴스빌딩,20190214,NaN,지상,53.35,스타벅스,0
2,스타벅스 연합뉴스점,종로1.2.3.4가동,"서울특별시 종로구 율곡로2길 25, 연합뉴스빌딩 1층 (수송동)",서울특별시 종로구 수송동 110번지 연합뉴스빌딩,20190520,NaN,지상,53.35,스타벅스,0
3,투썸플레이스 경복궁점,종로1.2.3.4가동,"서울특별시 종로구 율곡로 6, 트윈 트리 빌딩 A동 1층 102호 (중학동)",서울특별시 종로구 중학동 14번지 트윈 트리 빌딩-102,20190129,20200821.0,지상,208.37,투썸플레이스,0
4,이디야,혜화동,"서울특별시 종로구 성균관로 8, 1층 (명륜2가)",서울특별시 종로구 명륜2가 209번지 2호,20190902,NaN,지상,84.18,이디야커피,0
...,...,...,...,...,...,...,...,...,...,...
6315,메가엠지씨커피 청량리롯데캐슬점,전농제1동,"서울특별시 동대문구 답십리로 27, 1층 109호 (전농동, 청량리역 롯데캐슬 SK...",서울특별시 동대문구 전농동 620번지 47호 청량리역 롯데캐슬 SKY-L65,20240104,NaN,NaN,29.70,메가커피,0
6316,이디야 상도파크엘점,상도제2동,"서울특별시 동작구 양녕로 220, 제지하1층 제에이-2호 (상도동, 상도역 롯데캐슬...",서울특별시 동작구 상도동 904번지 상도역 롯데캐슬 파크엘,20240104,NaN,지하,84.12,이디야커피,0
6317,이디야 강일점,강일동,"서울특별시 강동구 아리수로93길 19, 임페리얼타워 1층 105,106호 (강일동)",서울특별시 강동구 강일동 675번지 3호 임페리얼타워,20240103,NaN,지상,58.10,이디야커피,0
6318,컴포즈커피 우장산숲아이파크점,우장산동,"서울특별시 강서구 강서로 200, 섬유유통노련회관 1층 좌측호 (화곡동)",서울특별시 강서구 화곡동 1031번지 1호 섬유유통노련회관,20240103,NaN,지상,127.05,컴포즈커피,0
6319,빽다방 잠실방이점,방이2동,"서울특별시 송파구 올림픽로 350, 쌩모리빌오피스텔 1층 101호 (방이동)",서울특별시 송파구 방이동 35번지 2호 쌩모리빌오피스텔,20240102,NaN,지상,40.67,빽다방,0

In [9]:
fcf[fcf['복층여부']==1]

,업소명,행정동명,소재지도로명,소재지지번,영업자시작일,폐업일자,업소위치,총면적,카페명,복층여부
14,할리스커피 을지로입구점,명동,"서울특별시 중구 명동3길 23, 1~4층 (을지로2가)",서울특별시 중구 을지로2가 199번지 44호,20190104,NaN,지상,975.48,할리스,1
25,투썸플레이스 충무로역점,필동,"서울특별시 중구 퇴계로 206, 1,2층 (필동2가)","서울특별시 중구 필동2가 15번지 7호 1,2층",20191216,NaN,지상,455.59,투썸플레이스,1
45,스타벅스 금호역점,금호4가동,"서울특별시 성동구 동호로 99, 1,2,3층 (금호동4가)",서울특별시 성동구 금호동4가 1483번지,20191220,NaN,지상,761.66,스타벅스,1
50,스타벅스 어린이대공원역점,군자동,"서울특별시 광진구 능동로 243, 1,2,3층 (군자동)","서울특별시 광진구 군자동 236번지 1,2,3층",20190110,NaN,지상,528.56,스타벅스,1
51,스타벅스 어린이대공원역점,군자동,"서울특별시 광진구 능동로 243, 1,2,3층 (군자동)","서울특별시 광진구 군자동 236번지 1,2,3층",20190520,NaN,지상,528.56,스타벅스,1
...,...,...,...,...,...,...,...,...,...,...
6224,스타벅스 화양삼거리점,화양동,"서울특별시 광진구 광나루로 374, 건대 트레비앙 오피스텔 지상 1,2층 105~1...",서울특별시 광진구 화양동 174번지 건대 트레비앙 오피스텔,20240318,NaN,NaN,321.33,스타벅스,1
6225,이디야 용산중앙점,한강로동,"서울특별시 용산구 한강대로 52-1, 1,2층 (한강로3가)",서울특별시 용산구 한강로3가 60번지,20240315,NaN,지상,90.68,이디야커피,1
6241,스타벅스 답십리초교사거리,답십리제1동,"서울특별시 동대문구 전농로 38, 1,2층 (답십리동)",서울특별시 동대문구 답십리동 266번지 1호,20240304,NaN,NaN,310.00,스타벅스,1
6248,스타벅스 동호로점,약수동,"서울특별시 중구 동호로 171, 1,2층 (신당동)",서울특별시 중구 신당동 372번지 3호,20240229,NaN,지상,311.68,스타벅스,1
6297,컴포즈커피 동대입구역점,장충동,"서울특별시 중구 동호로24길 27, 1,2층 (장충동2가)",서울특별시 중구 장충동2가 187번지 22호,20240116,NaN,지상,61.16,컴포즈커피,1

## 도로명주소 -> 좌표 변환

In [15]:
fcf[fcf['소재지도로명'].str.strip() == '']

,업소명,행정동명,소재지도로명,소재지지번,영업자시작일,폐업일자,업소위치,총면적,카페명,복층여부
390,디저트39 경희궁자이점,교남동,,서울특별시 종로구 교남동 62번지 1호 펠리스에비뉴2BL-2106,20180518,NaN,지상,34.32,디저트39,0
533,커피베이 양천구청점,신정1동,,서울특별시 양천구 신정동 324번지 7호,20180823,NaN,NaN,87.00,커피베이,0
2194,이디야 커피,삼양동,,"서울특별시 강북구 미아동 860번지 76호 외 1필지 (미아동 860-74,75...",20160711,NaN,지상,87.74,이디야커피,0
2226,이디야,증산동,,서울특별시 은평구 증산동 223번지 27호 디지털미디어시티역내 A/1구간,20141202,20190926.0,지하,60.00,이디야커피,0
2227,이디야,증산동,,서울특별시 은평구 증산동 223번지 27호 디지털미디어시티역내 A/1구간,20180129,20190926.0,지하,60.00,이디야커피,0
...,...,...,...,...,...,...,...,...,...,...
4481,할리스커피,양재제1동,,서울특별시 서초구 양재동 23번지 0호 환승상가111호,19970103,20050920.0,NaN,142.76,할리스,0
4482,할리스,노량진제1동,,서울특별시 동작구 노량진동 112번지 10호,20010510,20030611.0,지하,138.32,할리스,0
4486,할리스,압구정동,,서울특별시 강남구 신사동 661번지 17호,19950327,20000221.0,NaN,104.34,할리스,0
4488,할리스,역삼1동,,서울특별시 강남구 역삼동 821번지 1호,20021203,20050909.0,NaN,278.00,할리스,0
5561,투썸플레이스 양지공사점,내곡동,,"서울특별시 서초구 내곡동 1번지 1459호 지하1층,1층",20230620,NaN,지상,688.86,투썸플레이스,1

In [20]:
import requests

# 도로명주소 변환 API를 호출하는 함수
def convert_address(jibun_address):
    url = f"http://www.juso.go.kr/addrlink/addrLinkApi.do"
    params = {
        'confmKey': '****',
        'currentPage': 1,
        'countPerPage': 10,
        'keyword': jibun_address,
        'resultType': 'json'
    }
    response = requests.get(url, params=params)
    data = response.json()
    
    # 결과 출력
    if data['results']['common']['totalCount'] > '0':
        road_address = data['results']['juso'][0]['roadAddr']
        return road_address
    else:
        return None

In [10]:
# 정규표현식 사용해서 '번지' 기준으로 첫 번째 파트 추출
fcf['소재지지번_주소'] = fcf['소재지지번'].str.extract(r'^(.*?번지\s?\d*호?)')

# 나머지 부분 추출 (번지, 호 이후에 나오는 내용)
fcf['소재지지번_상세주소'] = fcf['소재지지번'].str.replace(r'^.*?번지\s?\d*호?\s?', '', regex=True)

In [21]:
address = []
for i in range(0, len(fcf)):
    if fcf.loc[i]['소재지지번_주소'] == None:
        address.append(None)
    else:
        address.append(convert_address(fcf.loc[i]['소재지지번_주소']))

In [22]:
address_df = pd.DataFrame(address, columns=['도로명주소'])

In [23]:
address_df.to_csv('franchises_cafe_address.csv', index=False)

In [11]:
address_df = pd.read_csv('franchises_cafe_address.csv')

In [12]:
address_df

                                      도로명주소
0                     서울특별시 종로구 계동2길 4 (계동)
1                  서울특별시 종로구 율곡로2길 25 (수송동)
2                  서울특별시 종로구 율곡로2길 25 (수송동)
3                     서울특별시 종로구 율곡로 6 (중학동)
4                 서울특별시 종로구 성균관로 6-3 (명륜2가)
...                                     ...
6315             서울특별시 동대문구 왕산로 206-1 (전농동)
6316  서울특별시 동작구 양녕로 220 (상도동, 상도역 롯데캐슬 파크엘)
6317             서울특별시 강동구 아리수로93길 33 (강일동)
6318                서울특별시 강서구 강서로 202 (화곡동)
6319               서울특별시 송파구 올림픽로 348 (방이동)

[6320 rows x 1 columns]

In [13]:
fcf_con = pd.concat([fcf, address_df], axis=1)

In [15]:
import pandas as pd

for i in range(len(fcf_con)):
    if pd.isna(fcf_con.loc[i, '도로명주소']):
        fcf_con.iloc[i, fcf_con.columns.get_loc('도로명주소')] = fcf_con['소재지도로명'].str.split(',', n=1, expand=True).iloc[i, 0]

In [38]:
fcf_con[fcf_con['도로명주소'].isna()]

Empty DataFrame
Columns: [업소명, 행정동명, 소재지도로명, 소재지지번, 영업자시작일, 폐업일자, 업소위치, 총면적, 카페명, 복층여부, 소재지지번_주소, 소재지지번_상세주소, 도로명주소]
Index: []

In [40]:
import requests
import pandas as pd

# 네이버 API 클라이언트 정보
client_id = "****"
client_secret = "****"

# API 요청 함수 정의
def get_coordinates(address):
    endpoint = "https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode"
    url = f"{endpoint}?query={address}"

    # API 요청 헤더
    headers = {
        "X-NCP-APIGW-API-KEY-ID": client_id,
        "X-NCP-APIGW-API-KEY": client_secret,
    }

    # API 호출 및 좌표 추출
    res = requests.get(url, headers=headers)
    if res.status_code == 200:
        data = res.json()
        if data['status'] == 'OK' and data['meta']['totalCount'] > 0:
            x = data['addresses'][0]['x']
            y = data['addresses'][0]['y']
            return pd.Series([x, y])
    return pd.Series([None, None])

# 주소 열에 대해 좌표를 적용하여 x, y 좌표 열 추가
fcf_con[['x', 'y']] = fcf_con['도로명주소'].apply(get_coordinates)

# 결과 확인
fcf_con.head()

,업소명,행정동명,소재지도로명,소재지지번,영업자시작일,폐업일자,업소위치,총면적,카페명,복층여부,소재지지번_주소,소재지지번_상세주소,도로명주소,x,y
0,컴포즈 커피,가회동,"서울특별시 종로구 율곡로 75, 현대빌딩 지하1층 (계동)",서울특별시 종로구 계동 140번지 2호 현대빌딩,20191118,NaN,지상,16.44,컴포즈커피,0,서울특별시 종로구 계동 140번지 2호,현대빌딩,서울특별시 종로구 계동2길 4 (계동),126.9868512,37.5798181
1,스타벅스 연합뉴스점,종로1.2.3.4가동,"서울특별시 종로구 율곡로2길 25, 연합뉴스빌딩 1층 (수송동)",서울특별시 종로구 수송동 110번지 연합뉴스빌딩,20190214,NaN,지상,53.35,스타벅스,0,서울특별시 종로구 수송동 110번지,연합뉴스빌딩,서울특별시 종로구 율곡로2길 25 (수송동),126.9804414,37.5744475
2,스타벅스 연합뉴스점,종로1.2.3.4가동,"서울특별시 종로구 율곡로2길 25, 연합뉴스빌딩 1층 (수송동)",서울특별시 종로구 수송동 110번지 연합뉴스빌딩,20190520,NaN,지상,53.35,스타벅스,0,서울특별시 종로구 수송동 110번지,연합뉴스빌딩,서울특별시 종로구 율곡로2길 25 (수송동),126.9804414,37.5744475
3,투썸플레이스 경복궁점,종로1.2.3.4가동,"서울특별시 종로구 율곡로 6, 트윈 트리 빌딩 A동 1층 102호 (중학동)",서울특별시 종로구 중학동 14번지 트윈 트리 빌딩-102,20190129,20200821.0,지상,208.37,투썸플레이스,0,서울특별시 종로구 중학동 14번지,트윈 트리 빌딩-102,서울특별시 종로구 율곡로 6 (중학동),126.9797454,37.5754403
4,이디야,혜화동,"서울특별시 종로구 성균관로 8, 1층 (명륜2가)",서울특별시 종로구 명륜2가 209번지 2호,20190902,NaN,지상,84.18,이디야커피,0,서울특별시 종로구 명륜2가 209번지 2호,,서울특별시 종로구 성균관로 6-3 (명륜2가),126.9983417,37.5837532

In [ ]:
fcf_con[['x', 'y']].to_csv('franchises_cafe_xy.csv', index=False)

In [82]:
fcf_con_xy = pd.read_csv('franchises_cafe_xy.csv', index_col='Unnamed: 0')

In [83]:
fcf_con_xy = pd.concat([fcf_con, fcf_con_xy], axis=1)

In [84]:
fcf_con_xy['x'].isna().sum()

np.int64(63)

## 계절변수 생성

In [85]:
fcf_con_xy['영업자시작일'] = fcf_con_xy['영업자시작일'].astype('object')

In [86]:
# 핸드폰 번호로 저장된 행이 존재함.
for i in range(len(fcf_con_xy)):
    if fcf_con_xy.loc[i]['영업자시작일'].startswith('0') == True:
        fcf_con_xy.iloc[i,4] = None

In [87]:
# 4494행 영업자시작일 : 236657089
# 4497 행 영업자시작일 : 269671789
# 4514 행 영업자시작일 : 226657576
# 4515, 4516 행 영업자시작일 : 220627844
# 4517 행 영업자시작일 : 226623881
fcf_con_xy.iloc[4494, 4] = None
fcf_con_xy.iloc[4497, 4] = None
fcf_con_xy.iloc[4514:4518, 4] = None

In [88]:
# 4509, 4511 행 영업자시작일 빈칸(결측치 x)
fcf_con_xy.iloc[4509, 4] = None
fcf_con_xy.iloc[4511, 4] = None

In [90]:
import datetime

# 영업자시작일을 datetime 형식으로 바꾼 후, [월, 계절] 변수 생성
fcf_con_xy['영업자시작일'] = pd.to_datetime(fcf_con_xy['영업자시작일'], format='%Y%m%d')
fcf_con_xy['월'] = fcf_con_xy['영업자시작일'].dt.month

def month_to_season(month):
    if month in [12, 1, 2]:
        return '겨울'
    elif month in [3, 4, 5]:
        return '봄'
    elif month in [6, 7, 8]:
        return '여름'
    elif month in [9, 10, 11]:
        return '가을'

fcf_con_xy['계절'] = fcf_con_xy['월'].apply(month_to_season)

In [95]:
fcf_con_xy.to_csv('fcf_final.csv', index=False)

In [3]:
aa = pd.read_csv('fcf_final.csv')
aa

,업소명,행정동명,소재지도로명,소재지지번,영업자시작일,폐업일자,업소위치,총면적,카페명,복층여부,소재지지번_주소,소재지지번_상세주소,도로명주소,x,y,월,계절
0,컴포즈 커피,가회동,"서울특별시 종로구 율곡로 75, 현대빌딩 지하1층 (계동)",서울특별시 종로구 계동 140번지 2호 현대빌딩,2019-11-18,NaN,지상,16.44,컴포즈커피,0,서울특별시 종로구 계동 140번지 2호,현대빌딩,서울특별시 종로구 계동2길 4 (계동),126.986851,37.579818,11.0,가을
1,스타벅스 연합뉴스점,종로1.2.3.4가동,"서울특별시 종로구 율곡로2길 25, 연합뉴스빌딩 1층 (수송동)",서울특별시 종로구 수송동 110번지 연합뉴스빌딩,2019-02-14,NaN,지상,53.35,스타벅스,0,서울특별시 종로구 수송동 110번지,연합뉴스빌딩,서울특별시 종로구 율곡로2길 25 (수송동),126.980441,37.574447,2.0,겨울
2,스타벅스 연합뉴스점,종로1.2.3.4가동,"서울특별시 종로구 율곡로2길 25, 연합뉴스빌딩 1층 (수송동)",서울특별시 종로구 수송동 110번지 연합뉴스빌딩,2019-05-20,NaN,지상,53.35,스타벅스,0,서울특별시 종로구 수송동 110번지,연합뉴스빌딩,서울특별시 종로구 율곡로2길 25 (수송동),126.980441,37.574447,5.0,봄
3,투썸플레이스 경복궁점,종로1.2.3.4가동,"서울특별시 종로구 율곡로 6, 트윈 트리 빌딩 A동 1층 102호 (중학동)",서울특별시 종로구 중학동 14번지 트윈 트리 빌딩-102,2019-01-29,20200821.0,지상,208.37,투썸플레이스,0,서울특별시 종로구 중학동 14번지,트윈 트리 빌딩-102,서울특별시 종로구 율곡로 6 (중학동),126.979745,37.575440,1.0,겨울
4,이디야,혜화동,"서울특별시 종로구 성균관로 8, 1층 (명륜2가)",서울특별시 종로구 명륜2가 209번지 2호,2019-09-02,NaN,지상,84.18,이디야커피,0,서울특별시 종로구 명륜2가 209번지 2호,,서울특별시 종로구 성균관로 6-3 (명륜2가),126.998342,37.583753,9.0,가을
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6315,메가엠지씨커피 청량리롯데캐슬점,전농제1동,"서울특별시 동대문구 답십리로 27, 1층 109호 (전농동, 청량리역 롯데캐슬 SK...",서울특별시 동대문구 전농동 620번지 47호 청량리역 롯데캐슬 SKY-L65,2024-01-04,NaN,NaN,29.70,메가커피,0,서울특별시 동대문구 전농동 620번지 47호,청량리역 롯데캐슬 SKY-L65,서울특별시 동대문구 왕산로 206-1 (전농동),127.046062,37.580452,1.0,겨울
6316,이디야 상도파크엘점,상도제2동,"서울특별시 동작구 양녕로 220, 제지하1층 제에이-2호 (상도동, 상도역 롯데캐슬...",서울특별시 동작구 상도동 904번지 상도역 롯데캐슬 파크엘,2024-01-04,NaN,지하,84.12,이디야커피,0,서울특별시 동작구 상도동 904번지,상도역 롯데캐슬 파크엘,"서울특별시 동작구 양녕로 220 (상도동, 상도역 롯데캐슬 파크엘)",126.947170,37.500755,1.0,겨울
6317,이디야 강일점,강일동,"서울특별시 강동구 아리수로93길 19, 임페리얼타워 1층 105,106호 (강일동)",서울특별시 강동구 강일동 675번지 3호 임페리얼타워,2024-01-03,NaN,지상,58.10,이디야커피,0,서울특별시 강동구 강일동 675번지 3호,임페리얼타워,서울특별시 강동구 아리수로93길 33 (강일동),127.173554,37.565908,1.0,겨울
6318,컴포즈커피 우장산숲아이파크점,우장산동,"서울특별시 강서구 강서로 200, 섬유유통노련회관 1층 좌측호 (화곡동)",서울특별시 강서구 화곡동 1031번지 1호 섬유유통노련회관,2024-01-03,NaN,지상,127.05,컴포즈커피,0,서울특별시 강서구 화곡동 1031번지 1호,섬유유통노련회관,서울특별시 강서구 강서로 202 (화곡동),126.838268,37.544214,1.0,겨울
6319,빽다방 잠실방이점,방이2동,"서울특별시 송파구 올림픽로 350, 쌩모리빌오피스텔 1층 101호 (방이동)",서울특별시 송파구 방이동 35번지 2호 쌩모리빌오피스텔,2024-01-02,NaN,지상,40.67,빽다방,0,서울특별시 송파구 방이동 35번지 2호,쌩모리빌오피스텔,서울특별시 송파구 올림픽로 348 (방이동),127.109003,37.515923,1.0,겨울

In [8]:
aa[aa['폐업일자'].notna()]

,업소명,행정동명,소재지도로명,소재지지번,영업자시작일,폐업일자,업소위치,총면적,카페명,복층여부,소재지지번_주소,소재지지번_상세주소,도로명주소,x,y,월,계절
3,투썸플레이스 경복궁점,종로1.2.3.4가동,"서울특별시 종로구 율곡로 6, 트윈 트리 빌딩 A동 1층 102호 (중학동)",서울특별시 종로구 중학동 14번지 트윈 트리 빌딩-102,2019-01-29,20200821.0,지상,208.37,투썸플레이스,0,서울특별시 종로구 중학동 14번지,트윈 트리 빌딩-102,서울특별시 종로구 율곡로 6 (중학동),126.979745,37.575440,1.0,겨울
6,할리스커피 혜화동점,혜화동,"서울특별시 종로구 창경궁로 285, 1층 (혜화동)",서울특별시 종로구 혜화동 85번지 3호,2019-01-11,20190222.0,지상,79.66,할리스,0,서울특별시 종로구 혜화동 85번지 3호,,서울특별시 종로구 창경궁로 285 (혜화동),127.001680,37.586463,1.0,겨울
123,메가엠지씨커피홍제역점,홍제제1동,"서울특별시 서대문구 세무서길 6, 1층 (홍제동)",서울특별시 서대문구 홍제동 174번지 16호 1층,2019-05-16,20200825.0,지상,78.98,메가커피,0,서울특별시 서대문구 홍제동 174번지 16호,1층,서울특별시 서대문구 통일로36가길 21 (홍제동),126.945781,37.588290,5.0,봄
217,메가엠지씨커피 시흥사거리점,시흥제1동,"서울특별시 금천구 시흥대로 227, 지상1층 (시흥동)",서울특별시 금천구 시흥동 994번지 7호 지상1층,2019-12-10,20191230.0,지상,70.40,메가커피,0,서울특별시 금천구 시흥동 994번지 7호,지상1층,서울특별시 금천구 시흥대로 233 (시흥동),126.900241,37.454410,12.0,겨울
280,(주)커피빈코리아 교대법원점,서초제4동,"서울특별시 서초구 서초중앙로 156, 1층 (서초동)",서울특별시 서초구 서초동 1699번지 16호 1층,2019-05-09,20200911.0,지상,178.76,커피빈,0,서울특별시 서초구 서초동 1699번지 16호,1층,서울특별시 서초구 서초대로51길 21 (서초동),127.013888,37.495823,5.0,봄
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5719,컴포즈커피 석촌호수점,석촌동,"서울특별시 송파구 삼학사로 100, 그랜드빌딩 1층 101호 (석촌동)",서울특별시 송파구 석촌동 1번지 그랜드빌딩,2023-05-18,20240614.0,지상,52.89,컴포즈커피,0,서울특별시 송파구 석촌동 1번지,그랜드빌딩,서울특별시 송파구 삼학사로 100 (석촌동),127.097536,37.506195,5.0,봄
5785,블루커피베이크(blu koffee bake),을지로동,"서울특별시 중구 충무로4길 21, 1층 (인현동1가)",서울특별시 중구 인현동1가 57번지 2호,2023-06-23,20240805.0,NaN,42.00,커피베이,0,서울특별시 중구 인현동1가 57번지 2호,,서울특별시 중구 을지로18길 32 (인현동1가),126.994265,37.565130,6.0,여름
5929,더벤티(the Venti) 목동깨비시장점,목3동,"서울특별시 양천구 목동중앙북로4길 6, 108호 (목동)",서울특별시 양천구 목동 615번지 1호 -108,2023-11-24,20240103.0,지상,30.00,더벤티,0,서울특별시 양천구 목동 615번지 1호,-108,"서울특별시 양천구 목동중앙북로2길 9 (목동, 전원하이츠빌)",126.864113,37.548189,11.0,가을
6032,더벤티 등촌중앙점,등촌제2동,"서울특별시 강서구 등촌로 79, 1층 103호 (등촌동)",서울특별시 강서구 등촌동 565번지 6호,2024-08-13,20240905.0,지상,25.48,더벤티,0,서울특별시 강서구 등촌동 565번지 6호,,"서울특별시 강서구 등촌로 75-6 (등촌동, 도원솔비치)",126.863035,37.537039,8.0,여름
6084,컴포즈커피 양천향교역점,가양제1동,"서울특별시 강서구 강서로74길 52, 1층 103호 (등촌동)",서울특별시 강서구 등촌동 828번지,2024-07-05,20240809.0,지상,46.80,컴포즈커피,0,서울특별시 강서구 등촌동 828번지,NaN,서울특별시 강서구 강서로74길 52 (등촌동),126.843796,37.566535,7.0,여름