# [은행]

In [2]:
import pandas as pd
import numpy as np

In [53]:
column = ['은행점포코드','은행점포명','은행코드','은행명','원천주소','점포시작일','점포구분명','지번코드','도로명주소건물관리번호',
           '지번 주소','도로명 주소','X좌표','Y좌표','블록코드']
bank = pd.read_csv('C:/Users/swc08/Desktop/대학/비어플/프로젝트1/은행/은행.csv', names=column)

In [54]:
bank.drop(['은행점포코드','은행코드','원천주소','점포시작일','점포구분명','지번코드','도로명주소건물관리번호','지번 주소','블록코드'], axis=1, inplace=True)

In [55]:
bank['은행명'] = bank.은행명.astype('category')

In [56]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477 entries, 0 to 476
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   은행점포명   477 non-null    object
 1   은행명     477 non-null    category
 2   도로명 주소  477 non-null    object
 3   X좌표     477 non-null    int64
 4   Y좌표     477 non-null    int64
dtypes: category(1), int64(2), object(2)
memory usage: 16.2+ KB

In [57]:
bank.head(3)

          은행점포명     은행명             도로명 주소     X좌표     Y좌표
0         증미역지점    우리은행  서울특별시 강서구 양천로 583  299857  551147
1           서염창  KB국민은행  서울특별시 강서구 양천로 643  300267  550751
2  경인북부수협 염창동지점    단위수협  서울특별시 강서구 양천로 657  300388  550642

In [58]:
bank.to_csv('./은행/seoul_bank.csv')

# [병원]

In [14]:
hospi = pd.read_csv('./병원/서울시 병원 인허가 정보.csv', encoding='cp949')

In [15]:
hospi.columns

Index(['개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자', '영업상태코드', '영업상태명', '상세영업상태코드',
       '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자', '재개업일자', '전화번호', '소재지면적',
       '소재지우편번호', '지번주소', '도로명주소', '도로명우편번호', '사업장명', '최종수정일자', '데이터갱신구분',
       '데이터갱신일자', '업태구분명', '좌표정보(X)', '좌표정보(Y)', '의료기관종별명', '의료인수', '입원실수',
       '병상수', '총면적', '진료과목내용', '진료과목내용명', '지정취소일자', '완화의료지정형태', '완화의료담당부서명',
       '구급차특수', '구급차일반', '총인원', '구조사수', '허가병상수', '최초지정일자'],
      dtype='object')

In [16]:
hospi.drop(['개방자치단체코드','관리번호','상세영업상태코드','전화번호','소재지우편번호','지번주소','도로명우편번호',
            '최종수정일자','데이터갱신구분','데이터갱신일자','입원실수','병상수','진료과목내용','진료과목내용명','지정취소일자','완화의료지정형태',
            '완화의료담당부서명','구급차특수','구급차일반','총인원','구조사수','허가병상수','최초지정일자','의료기관종별명','의료인수','총면적'], axis=1, inplace=True)

In [18]:
hospi

,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,재개업일자,소재지면적,도로명주소,사업장명,업태구분명,좌표정보(X),좌표정보(Y)
0,2005-12-07,NaN,1,영업/정상,영업중,NaN,NaN,NaN,NaN,4755.54,서울특별시 성북구 화랑로 271 (장위동),의료법인유라의료재단 온누리요양병원,요양병원(일반요양병원),205115.270098,456653.347260
1,2007-10-23,NaN,1,영업/정상,영업중,NaN,NaN,NaN,NaN,2337.69,서울특별시 동작구 시흥대로 634 (신대방동),의료법인에이치엠피의료재단녹십초요양병원,요양병원(일반요양병원),191677.374890,442912.575898
2,2022-09-23,NaN,1,영업/정상,영업중,NaN,NaN,NaN,NaN,2544.15,"서울특별시 도봉구 덕릉로 215, 3~7층 (창동)",자향한방병원,한방병원,203151.226589,459468.169735
3,2013-04-10,NaN,3,폐업,폐업,2024-08-18,NaN,NaN,NaN,166.27,"서울특별시 강남구 밤고개로1길 10, 315호 (수서동, 수서현대벤쳐빌)",기쁨정원치과병원,치과병원,208937.760652,442873.588040
4,1993-01-09,NaN,1,영업/정상,영업중,NaN,NaN,NaN,NaN,958.25,"서울특별시 송파구 문정로 65, 인애가한방병원 1,2,4,5,6층 (문정동)",의료법인일맥의료재단 송파인애가한방병원,한방병원,211382.026862,442795.708067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,2020-07-28,NaN,1,영업/정상,영업중,NaN,NaN,NaN,NaN,NaN,"서울특별시 노원구 노원로 461, 대감프라자빌딩 3,4,5,6층 (상계동)",그레이스힐 요양병원,요양병원(일반요양병원),205705.736650,461663.539093
887,2013-01-04,NaN,1,영업/정상,영업중,NaN,NaN,NaN,NaN,1956.52,"서울특별시 노원구 노해로 507, 7,8층 (상계동, 와우쇼핑몰)",노원자생한방병원,한방병원,205557.013356,461441.687971
888,2016-03-23,NaN,1,영업/정상,영업중,NaN,NaN,NaN,NaN,8301.63,"서울특별시 마포구 월드컵북로 494, 지하1층~7층 (상암동, 푸르메재단넥슨어린이재...",푸르메재단 넥슨어린이재활병원,요양병원(장애인의료재활시설),189380.940593,453602.251632
889,2012-09-05,NaN,1,영업/정상,영업중,NaN,NaN,NaN,NaN,1999.50,"서울특별시 노원구 노해로 502, 2층, 3층, 5층 (상계동)",참튼튼병원,병원,205550.908408,461343.062227
890,2010-02-19,NaN,1,영업/정상,영업중,NaN,NaN,NaN,NaN,1207.20,"서울특별시 양천구 신목로 102, 3,5,6층 (목동, 대경프라자)",목동자생한방병원,한방병원,188954.524397,446824.338405

In [13]:
hospi['인허가취소일자'].sort_values()

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
886   NaN
887   NaN
888   NaN
889   NaN
890   NaN
Name: 인허가취소일자, Length: 891, dtype: float64

In [63]:
hospi.to_csv('./병원/seoul_hospital.csv', encoding='cp949')

# [학교]

In [64]:
element = pd.read_csv('./학교/서울시 초등학교 기본정보.csv', encoding='cp949')
print(element.columns)
print(len(element))

Index(['학교종류명', '설립구분', '표준학교코드', '학교명', '영문학교명', '관할조직명', '도로명우편번호', '도로명주소',
       '도로명상세주소', '전화번호', '홈페이지주소', '팩스번호', '남녀공학구분명', '고등학교구분명',
       '산업체특별학급존재여부', '고등학교일반실업구분명', '특수목적고등학교계열명', '입시전후기구분명', '주야구분명',
       '설립일자', '개교기념일', '시도교육청코드', '시도교육청명', '소재지명', '적재일시'],
      dtype='object')
610

In [65]:
middle = pd.read_csv('./학교/서울시 중학교 기본정보.csv', encoding='cp949')
print(middle.columns)
print(len(middle))

Index(['학교종류명', '설립구분', '표준학교코드', '학교명', '영문학교명', '관할조직명', '도로명우편번호', '도로명주소',
       '도로명상세주소', '전화번호', '홈페이지주소', '팩스번호', '남녀공학구분명', '고등학교구분명',
       '산업체특별학급존재여부', '고등학교일반실업구분명', '특수목적고등학교계열명', '입시전후기구분명', '주야구분명',
       '설립일자', '개교기념일', '시도교육청코드', '시도교육청명', '소재지명', '적재일시'],
      dtype='object')
390

In [66]:
high = pd.read_csv('./학교/서울시 고등학교 기본정보.csv', encoding='cp949')
print(high.columns)
print(len(high))

Index(['학교종류명', '설립구분', '표준학교코드', '학교명', '영문학교명', '관할조직명', '도로명우편번호', '도로명주소',
       '도로명상세주소', '전화번호', '홈페이지주소', '팩스번호', '남녀공학구분명', '고등학교구분명',
       '산업체특별학급존재여부', '고등학교일반실업구분명', '특수목적고등학교계열명', '입시전후기구분명', '주야구분명',
       '설립일자', '개교기념일', '시도교육청코드', '시도교육청명', '소재지명', '적재일시'],
      dtype='object')
318

In [67]:
# 초, 중, 고 합치기
school = pd.concat([element, middle, high], ignore_index=True)

In [68]:
school.학교종류명.value_counts()

학교종류명
초등학교    610
중학교     390
고등학교    318
Name: count, dtype: int64

In [69]:
school.drop(['설립구분','표준학교코드','영문학교명','관할조직명','도로명우편번호','도로명상세주소','전화번호','홈페이지주소','팩스번호','남녀공학구분명','고등학교구분명','산업체특별학급존재여부',
             '고등학교일반실업구분명','특수목적고등학교계열명','입시전후기구분명','주야구분명','설립일자','개교기념일','시도교육청코드','시도교육청명','소재지명','적재일시'],
             axis=1, inplace=True)

In [70]:
school.columns = ['학교종류명','학교명','주소']

In [71]:
school

     학교종류명         학교명                    주소
0     초등학교    서울숭신초등학교     서울특별시 성동구 마장로 161
1     초등학교      한양초등학교    서울특별시 성동구 살곶이길 208
2     초등학교      세종초등학교     서울특별시 광진구 군자로 114
3     초등학교      성동초등학교    서울특별시 광진구 자양로4길 63
4     초등학교    서울행현초등학교      서울특별시 성동구 행당로 95
...    ...         ...                   ...
1313  고등학교      경기고등학교    서울특별시 강남구 영동대로 643
1314  고등학교      개포고등학교     서울특별시 강남구 개포로 402
1315  고등학교      가락고등학교      서울특별시 송파구 송이로 42
1316  고등학교  국립전통예술고등학교  서울특별시 금천구 시흥대로38길 62
1317  고등학교    국립국악고등학교   서울특별시 강남구 개포로22길 65

[1318 rows x 3 columns]

In [72]:
univer = pd.read_csv('./학교/서울시 대학 및 전문대학 DB 정보 (한국어).csv', encoding='cp949')
univer.columns

Index(['키값', '연도', '학교종류', '학교명', '본분교', '학교상태', '설립', '우편번호', '주소', '도로명주소',
       '행정시', '행정구', '행정동', '전화번호', '팩스번호', '홈페이지'],
      dtype='object')

In [73]:
univer.drop(['키값','연도','본분교','학교상태','설립','우편번호','행정시','행정구','행정동','전화번호','팩스번호','홈페이지','도로명주소'], axis=1, inplace=True)

In [74]:
univer.columns = ['학교종류명','학교명','주소']

In [75]:
univer

        학교종류명        학교명                                     주소
0        일반대학    서울시립대학교         서울 동대문구 서울시립대로 163 (전농동 90번지)
1   전문대학(3년제)  서울여자간호대학교                  서울 서대문구 홍제3동 서울여자간호대학
2        일반대학    서울여자대학교              서울특별시 노원구 화랑로 621 서울여자대학교
3   전문대학(2년제)      서일대학교        서울 중랑구 서일대학길 22(면목동 49-3) 서일대학교
4        일반대학     성공회대학교                       서울 구로구 항동 성공회대학교
..        ...        ...                                    ...
59       교육대학    서울교육대학교              서울 서초구 서초중앙로 96(서초동 1650)
60       일반대학    서울기독대학교                    서울 은평구 갈현로 4길 26-2호
61       일반대학      서울대학교                     서울 관악구 관악로 1 서울대학교
62  사이버대학(대학)   서울디지털대학교                       서울 마포구 도화동 560번지
63  사이버대학(대학)   서울사이버대학교  서울 강북구 솔매로49길 60(미아동 193-15) 서울사이버대학교

[64 rows x 3 columns]

In [76]:
seoul_school = pd.concat([school, univer], ignore_index=True)

In [77]:
seoul_school

          학교종류명       학교명                                     주소
0          초등학교  서울숭신초등학교                      서울특별시 성동구 마장로 161
1          초등학교    한양초등학교                     서울특별시 성동구 살곶이길 208
2          초등학교    세종초등학교                      서울특별시 광진구 군자로 114
3          초등학교    성동초등학교                     서울특별시 광진구 자양로4길 63
4          초등학교  서울행현초등학교                       서울특별시 성동구 행당로 95
...         ...       ...                                    ...
1377       교육대학   서울교육대학교              서울 서초구 서초중앙로 96(서초동 1650)
1378       일반대학   서울기독대학교                    서울 은평구 갈현로 4길 26-2호
1379       일반대학     서울대학교                     서울 관악구 관악로 1 서울대학교
1380  사이버대학(대학)  서울디지털대학교                       서울 마포구 도화동 560번지
1381  사이버대학(대학)  서울사이버대학교  서울 강북구 솔매로49길 60(미아동 193-15) 서울사이버대학교

[1382 rows x 3 columns]

In [78]:
seoul_school.to_csv('./학교/seoul_school.csv', encoding='cp949')

## 주소 -> 좌표

In [79]:
from korean_geocoding.geocoding import KoreanGeocoding as Kg
kg = Kg()

get_coordinates(query: str, delimiter=' ', just_fit=True)\
- 주어진 행정구역의 위도/경도 좌표를 반환합니다. (<위도>, <경도>)의 Tuple 형태로 반환됩니다.
- query(Required) : 검색할 행정구역명. 각 구역은 기본적으로 띄어쓰기 하나로 구분하며 현재는 시군구/리 까지만 지원합니다. (Ex: 부산광역시 동구 범일동, 부산광역시 기장군 일광면 용천리) 도로명까지의 세부 주소를 넣지 말아주세요.
- 0.4.0부터는 시도명에 '서울특별시'와 같이 정식 명칭을 넣지 않고, '서울시' '전북' 등과 같이 축약된 명칭을 넣어도 인식합니다.
- delimiter : 각 행정구별 구분자. 기본적으로 공백 하나로 구분합니다. 만약 '부산광역시|동구|범일동' 이라는 쿼리를 넣고 싶다면, delimiter='|'로 값을 넣음으로써 정상적으로 
['부산광역시', '동구', '범일동'] 으로 인식됩니다.
- just_fit : T/F 값을 가집니다. False라면 중간에 알 수 없는 행정구역 이름이 들어온 경우, 여기까지 인식된 곳의 주소만 가지고 좌표를 계산합니다. "부산광역시 동구 알수없는동"이라고 입력한다면, '알수없는동'은 인식할 수 없으므로 "부산광역시 동구"의 좌표를 반환합니다.

get_under_districts(query, delimiter=' ', just_fit=True)
- 주어진 행정구역의 하위 행정구역의 list를 반환합니다.

get_distance(query1, query2, delimiter=' ', just_fit=True)
- 주어진 두 점 간의 거리를 km 단위로 반환합니다. 지구는 구형이므로, 구형의 표면에서의 두 점간의 거리를 구할 수 있는 haversine 공식을 이용하여 구합니다. query1과 query2는 (위도, 경도) 형태의 Tuple이나, get_coordinates()와 동일한 방식으로 행정구역명을 담은 문자열을 받습니다. 문자열과 튜플의 방식을 혼용해도 됩니다. 튜플에 담긴 좌표는 특정 행정구역의 좌표가 아닌 임의의 좌표여도 됩니다. 이외의 just_fit이나 delimiter는 문자열 형태의 주소를 받을 때에만 사용되며, 사용법은 위와 동일합니다. 결과값은 소수 셋째자리까지 표시됩니다.

In [80]:
import requests
import pandas as pd

# 네이버 API 클라이언트 정보
client_id = "3fmd7xia0h"
client_secret = "uy5gOT87pjBgIeAmXCH2dpXVBKK090HceaprqeKL"

# API 요청 함수 정의
def get_coordinates(address):
    endpoint = "https://naveropenapi.apigw.ntruss.com/map-geocode/v2/geocode"
    url = f"{endpoint}?query={address}"

    # API 요청 헤더
    headers = {
        "X-NCP-APIGW-API-KEY-ID": client_id,
        "X-NCP-APIGW-API-KEY": client_secret,
    }

    # API 호출 및 좌표 추출
    res = requests.get(url, headers=headers)
    if res.status_code == 200:
        data = res.json()
        if data['status'] == 'OK' and data['meta']['totalCount'] > 0:
            x = data['addresses'][0]['x']
            y = data['addresses'][0]['y']
            return pd.Series([x, y])
    return pd.Series([None, None])

# 주소 열에 대해 좌표를 적용하여 x, y 좌표 열 추가
seoul_school[['x', 'y']] = seoul_school['주소'].apply(get_coordinates)

# 결과 확인
seoul_school.head()

  학교종류명       학교명                  주소            x           y
0  초등학교  서울숭신초등학교   서울특별시 성동구 마장로 161  127.0278272  37.5679349
1  초등학교    한양초등학교  서울특별시 성동구 살곶이길 208  127.0503868  37.5576113
2  초등학교    세종초등학교   서울특별시 광진구 군자로 114  127.0729061  37.5530324
3  초등학교    성동초등학교  서울특별시 광진구 자양로4길 63  127.0895265  37.5331782
4  초등학교  서울행현초등학교    서울특별시 성동구 행당로 95  127.0294047  37.5576916

In [89]:
from korean_geocoding.geocoding import KoreanGeocoding as Kg
kg = Kg()
kg.set_naver_api("3fmd7xia0h", "uy5gOT87pjBgIeAmXCH2dpXVBKK090HceaprqeKL")
xy = kg.get_coordinates_by_api("서울특별시 중구 소파로2길 24")
seoul_school.iloc[1169,3] = xy[0]
seoul_school.iloc[1169,4] = xy[1]

In [90]:
def xxyy(adress, row):
    xy = kg.get_coordinates_by_api(adress)
    seoul_school.iloc[row,3] = xy[0]
    seoul_school.iloc[row,4] = xy[1]

In [115]:
seoul_school[seoul_school['x'].isna()]

Empty DataFrame
Columns: [학교종류명, 학교명, 주소, x, y]
Index: []

In [122]:
seoul_school.to_csv('./학교/seoul_school_xy.csv', encoding='cp949')